[run]
source = src

[report]
omit =
    */__init__.py
    */constants.py
    src/analyse_data/analyse_speech_datasets.py
    src/create_train_and_test_data/merge_speech_data.py

exclude_lines =
    pragma: no cover
    if __name__ == '__main__':